* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
  background-color: blue;
  max-width: 1920px;
  height: 308px;
  width: 100%;
}
h1{
  font-size: 32px;
  color: white;
  padding-top: 60px;
  padding-left: 240px;
  width: 184px;
  height: 38px;
}